<div class="well well-small" style="text-align:center">
    <a class="btn btn-success" href="{{ path('crr_delivery_new') }}">
        Złóż zamówienie
    </a>
</div>

<div class="well well-small">
    <div class="side-header">
        <p style="text-align:center">Sprawdź przesyłkę</p>
    </div>
    <form action="#" style="margin:0">
        <div class="input-append">
            <input id="appendedInputButton" type="text"  placeholder="nr. listu przewozowego...">
            <button class="btn" type="button">Sprawdź!</button>
        </div>
    </form>
</div>
