<div class="row-fluid">
    <div class="span12">
        <h3>Podsumowanie</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <address>
            Od: {% include 'CRRPersonBundle:Default:_person.html.twig' with { person: delivery.sender } %}
        </address>
    </div>
    <div class="span6">
        <address>
            Do: {% include 'CRRPersonBundle:Default:_person.html.twig' with { person: delivery.receiver } %}
        </address>
    </div>
</div>
