<div class="control-group">
    <label class="control-label" style="text-align:left">{{ form.vars.value.packageType.name }}</label>
    <br>
    <div class="controls" style="margin-left:0px">
        {{ form_widget(form.count, { attr: { class: 'input-mini' } }) }}
    </div>
</div>
