<table class="table table-bordered table-striped table-condensed" style="table-layout: fixed">
    <thead>
        <tr>
            <th style="text-align: right">Typ:</th>
            {% for p in delivery.packages %}
                <td>{{ p.packageType }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: right">Ilość:</th>
            {% for p in delivery.packages %}
                <td>{{ p.count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
